$bg-image:url(../img/m-h-night.jpg);
$font-weight: 600;
$btn-color:rgb(112, 167, 1);
$bg-color: #21232e;
$font-size: 18px;
$bg-content:#00a2cb;
$main-text-color: #000;
$bg-section:#3b3f50;
$bg-gradient:linear-gradient(to right,#e3ac00, #96324f);
$font-family: (
  header:'Source Sans Pro',
  body:'Hind',
  link:'Source Sans Pro'
);
