$bg-image:url(../img/m-h-day.jpg);
$font-weight: 600;
$btn-color:rgb(112, 167, 1);
$bg-color: #fff;
$font-size: 18px;
$bg-content:#00a2cb;
$main-text-color: #000;
$bg-section:hsl(231, 16%, 15%);
$bg-gradient:linear-gradient(to right,#4a9e01, #3649d5);
$font-family: (
  header:'Source Sans Pro',
  body:'Hind',
  link:'Source Sans Pro'
);
