*{
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 110px;
  background-color: #4D4D4D;
}

.hederContainer {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hederLogo {
  height: 100%;
  max-width: 100vh;
  font-size: 2.4vw;
  font-weight: 900;
  justify-content: center;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  display: block;
  letter-spacing: .0875rem;
}

.headerSection {
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63d9ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.myButton:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}

#root {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  max-width: 81.25em;
  padding: 0 2.5rem;
}

.UIContainer {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  max-width: 81.25em;
  padding: 0 2.5rem;
}

.createSetPage {
  padding: 1.25rem 0;
  position: relative;
  box-shadow: 0 0.125rem 1rem 0 rgba(0,0,0,.2);
}

.createSetPage:after, .createSetPage:before {
  content: "";
  display: table;
}

.itemToolBar {
  margin-bottom: 0;
  margin-top: 0;
  padding: .75rem;
  border-bottom: 2px solid #f0f0f0;
  display: flex;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  transition: all .12s ease;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.itemToolBarCounter {
  width: 2.5rem;
  color: #97a5aa;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .0875rem;
  line-height: 1.5;
}

.itemToolBarDone{
  display: flex;
  flex: 0 1 auto;
  width: 4rem;
}

.itemToolBarRemove{
  display: flex;
}

.contextToggle {
  display: flex;
}