*{
  margin: 0;
  padding: 0;
}

.page {
  display: none;
  width: 100%;
  min-height: 100%;
  position: fixed;
}

.active{
  display: block;
}

#home{
  background-color: darkslateblue;
}

#list{
  background-color: steelblue;
}

#detail{
  background-color: coral;
}

h1{
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.4s;
}

.big{
  font-size: 5rem;
  font-weight: 900;
}

.wrapper {
  width: 85%;
  height: 20rem;
  background-color: brown;
  margin: 0 auto;
}

.wrapper-header {
  width: 100%;
  height: 5rem;
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button {
  width: 5rem;
  height: 3rem;
  border-radius: 0.4rem;
  outline: none;
  box-shadow: none;
  border-style: none;
  background-color: darksalmon;
  color: white;
  border: 2px solid silver;
  margin: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: tomato;
}

.wrapper-content {
  margin: 2rem;
  display: flex;
  width: 90%;
  height: 10rem;
  background-color: wheat;
  justify-content: space-between;

}

label{
 display: block;
 font-size: 1.2rem;
 color: slategrey;
}

.word-content,  .defenition-content{
  margin: 2rem;
  align-content: center;
  justify-content: center;
}

.word-content input, .defenition-content input {
  outline: none;
  border: none;
  height: 2rem;
  font-size: 20px;
  background-color: wheat;
  border-bottom: 2px solid silver;
}

.word-content input:focus, .defenition-content input:focus{
  border-bottom: 2px solid tomato;
}

.task {
  width: 90%;
  height: 70px;
  background-color: tomato;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-content {
  margin-left: 1rem;
}

.task-content span{
  display: block;
  margin: 0.5rem;
  font-size: 20px;
  font-weight: 900;
}



